#callToAction {
  background-image: url(/img/pixabay-dariuszsankowski.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  .jumbotron {
    background-color: transparent;
    text-shadow: 2px 2px 20px #000;
    h1 {
      font-size: 4rem;
      font-weight: bold;
    }
    hr {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
    }
    button {
      z-index: 0;
    }
  }
}