#pdfContent {
  background: #fff;
  padding: 0.5rem;
  max-width: 790px;
  border: 1px solid #ddd;
  margin: 0.5rem auto;
  h1 {
    font-size: 2rem;
  }
  button {
    display: block;
    margin: 0 auto;
  }
  .card-pdf {
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0.125rem;
    font-size: .875rem;
    font-weight: normal;
    &-header {
      font-weight: bold;
      font-size: 1rem;
      padding: 0.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      margin-bottom: 0;
    }
    &-body {
      padding: 0.5rem;
    }
    &-title {
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 0.75rem;
    }
    &-text {
      p {
        margin-bottom: 0;
      }
    }
  }
}
